header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    background-image: url("../images/hbnb_logo.png");
    background-repeat: no-repeat;
    background-size: 142px 60px;
    background-position: 20px 0%;
}
